<?xml version="1.0"?>
<!--
/**
 * @author Convert Team
 * @copyright Copyright (c) 2017 Convert (http://www.convert.no/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="prince_attachment" xsi:type="array">
                    <item name="class" xsi:type="string">Prince\Productattach\Ui\DataProvider\Modifier\Attachments</item>
                    <item name="sortOrder" xsi:type="number">300</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Prince\Productattach\Ui\DataProvider\Modifier\Attachments">
        <arguments>
            <argument name="scopeName" xsi:type="string">product_form.product_form</argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Controller\Adminhtml\Product\Initialization\Helper">
        <plugin name="prince_productattachment" type="Prince\Productattach\Plugin\Product\InitializationHelper" sortOrder="300" />
    </type>
</config>
