<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Prince_Productattach::top_level" title="Product Attachments" module="Prince_Productattach" sortOrder="30" resource="Prince_Productattach::manage" parent="Magento_Catalog::catalog"/>
        <add id="Prince_Productattach::productattach_manage" title="Manage Attachments" module="Prince_Productattach" sortOrder="10" parent="Prince_Productattach::top_level" action="productattach/index/" resource="Prince_Productattach::manage"/>
        <add id="Prince_Productattach::prince_productattach_fileicon" action="productattach/fileicon/index" module="Prince_Productattach" parent="Prince_Productattach::top_level" resource="Prince_Productattach::manage" sortOrder="20" title="Manage Icons"/>
    </menu>
</config>
