<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <productattach>
            <general>
                <enable>1</enable>
                <productdetail>0</productdetail>
                <producttab>1</producttab>
                <attachmentsize>1</attachmentsize>
                <tabname>Product Attachment</tabname>
            </general>
        </productattach>
    </default>
</config>
