<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Prince\Productattach\Model\ResourceModel\Productattach\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">prince_productattach</argument>
            <argument name="resourceModel" xsi:type="string">Prince\Productattach\Model\ResourceModel\Productattach\Collection</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="productattach_grid_index_data_source" xsi:type="string">Prince\Productattach\Model\ResourceModel\Productattach\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>